header {
  background-color: #4a4a4a;
  color: #d6ad70;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 25px;
}

main {
  background-color: #e4e4e4;
  width: 1000px;
  padding: 25px;
  border: solid 5px goldenrod;
}

footer {
  background-color: #4a4a4a;
  color: blanchedalmond;
  text-align: center;
  padding: 25px 0;
  margin-top: 25px;
}
